* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.slider-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f4fd;
}

.container {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #ccc;
  border: none;
  outline: none;
  background-color: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slide-button:hover {
  background-color: #444;
}

.slide-button#prev {
  left: -30px;
  display: none;
}

.slide-button#next {
  right: -30px;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
}

.video-list::-webkit-scrollbar {
  display: none;
}

.video-item {
  object-fit: cover;
}

.slider-scrollbar {
  display: flex;
  align-items: center;
  height: 24px;
  width: 100%;
}

.scrollbar-track {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #ccc;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.scrollbar-thumb {
  position: absolute;

  height: 100%;
  width: 50%;
  background-color: #000;
  border-radius: inherit;
  cursor: grab;
}

.scrollbar-thumb:active {
  height: 8px;
  top: -2px;
  cursor: grabbing;
}

.scrollbar-thumb::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: -10px;
  left: -10px;
}

@media screen and (max-width: 720px) {
  .slide-button {
    display: none;
  }

  .video-list {
    gap: 10px;
  }

  .slider-wrapper {
    margin-bottom: 15px;
  }

  .scrollbar-thumb {
    width: 20%;
  }
}
